 <nav class="navbar-container">
        <div class="navbar">
            <i class="fa-solid fa-house" id="home-button"></i>
            <div class="notification-container">
                <button type="button" class="notification-btn" id="notification-btn">Notification</button>
                <div class="notification-body hidden" id="notification-body">
                    {{#each notificationData}}
                        {{#if this.updated_at }}
                            <div class="notification" id="notification">
                                Issue {{this.title}} was updated {{this.updated_from_now}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </nav>