 <nav class="navbar-container">
        <div class="navbar">
            <a href="/"><i class="fa-solid fa-house" id="home-button"></i></a>
            <div class="notification-container">
                <button type="button" class="notification-btn" id="notification-btn">Notification</button>
                <div class="notification-body hidden" id="notification-body">
                    {{#each notificationData}}
                        {{#if this.updated_at }}
                            <div class="notification" id={{this.iid}}>
                                <a class="notification-link" href="/issues/issue/{{this.iid}}">
                                    Issue {{this.title}} was updated {{this.updated_from_now}}
                                </a>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </nav>