 <nav class="navbar-container">
        <div class="navbar">
            <i class="fa-solid fa-house" id="home-button"></i>
            <div class="notification-container">
                <button type="button" class="notification-btn" id="notification-btn">Notification</button>
                <div class="notification-body hidden" id="notification-body">
                    
                </div>
            </div>
        </div>
    </nav>