* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-container {
    display: flex;
    margin-top: 10px;
    width: 90vw;
    justify-content: center;
    height: 40px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    background-color: #005995;
    align-items: center;
    border-radius: 3px;
}

.notification-container {
    display: flex;
    width: 200px;
    flex-direction: column;
    position: relative;
}

.notification-btn {
    width: 90%;
    border-radius: 3px;
    background-color: #fff685;
    border: none; 
    color: #000;
}

.notification-body {
    width: 90%;
    height: 150px;
    position: absolute;
    top: 18px;
    background-color: #005995;
    color: #fff;
    display:flex;
    flex-direction: column;
    overflow-x: auto;
    z-index: 10;
    align-items:center;
}
.notification {
    width: 90%;
    font-size:12px;
    margin: 2px;
    border: 1px solid #fff685;
}
.notification:hover {
    background-color: #056baf;
    cursor: pointer;
}
.notification-btn:hover {
    background-color:#f7eb4a
}
.new-notification {
    background-color: #7575dd;
}

.issues-data-container,
.pagination-container {
    display: flex;
    flex-flow: row wrap;

}

.pagination-container{
    width: 90vw;
    align-items: center;
    justify-content: center;
}

.issues-data-container{
    width: 80vw;
    height: 550px;
    padding-left: 5px;
}

.navigation-btn{
    display: flex;
    justify-content:center;
    width: 2vw;
    background-color: #7575dd;
    color: #fff;
    border-radius: 3px;
    border: none;
}

.pagination-number-container{
    display: flex;
    justify-content: center;
}

.date-container{
    display: flex;
    width: 50%;
    height: 25%;
    flex-direction: column;
}

.issue-box {
    width: 38vw;
    height: 270px;
    background-color: #005995;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    border-radius:4px;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    height: 25%;
}

.author-container,
.assignees-container {
    display: flex;
    width: 45%;
    margin: 10px;
    border-radius: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
}



.labels-container {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    width:25%;
    height: 20%;
}

.assignees-container{
    
    flex-direction: column;
    height: 20%;
    padding: 5px;
}

.header-container {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: gray;
    color: white;
    border-radius: 4px;
}
p {
    background-color:#fff685;
    width: 100%;
    height: 80%;
    overflow: auto;
    border-radius: 4px;
    padding: 5px;
}

p::-webkit-scrollbar,
.notification-body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

label {
    font-size:12px;
    color: #fff685;
}
textarea {
    resize: none;
    overflow-y: auto;
}

.state-container,
.due-date-container {
    display: flex;
    width: 15%;
    justify-content: flex-start;
    margin: 5px;
    height: 13%;
    align-items: flex-start;
    flex-direction: column;
    font-size: 12px;
}

.closed-at-container,
.created-at-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    min-height: 48%;
    font-size: 12px;
}

.issue-state {
    height: 80%;
    color: red;
    
    border-radius: 4px;
    background-color:#fff685;
}

.opened {
    
    color: #00c07f;
}

.vote-container {
    display: flex;
    width: 12%;
    height: 15%;
    margin: 25px 0 0 5px;
    align-items: flex-end;
    background-color:#fff685;
    border-radius: 4px;
    justify-content: space-evenly;
}

.upvote-container,
.downvote-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.fa-solid {
    color: #0049B7;
}


.hidden {
    display: none;
}

.active {
    background-color: blue;
    color: white;
}

.navigation-btn:not(.disabled):hover {
    font-size: 20px;
    cursor: pointer;
}
.page-number:hover{
    background-color: gray;
    color :white;
    cursor: pointer;
}
 
.page-number {
    width: 10px;
    height: 20px;
    margin: 10px 3px;
    padding-left: 2px;
}

.disabled {
    background-color:#bccbde;
}

